<div id="<%= dom_id animal %>">
  <p>
    <strong>Name:</strong>
    <%= animal.name %>
  </p>

  <p>
  <strong>Farmer:</strong>
  <!-- <%= animal.farmer.name %> Antes del self en modelo animal -->
  <%= animal.farmer %>
</p>

</div>
